.headerStyle {
   
    &-searchContainer{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        margin: 10px 0 0 0 ;

        .searchInput{
            width: 90%;
        }
        .errorMsg{
            color: #ff0000;
        }

    }
}  